div class='row'
  div class='col-md-12'
    div class='page-header'
      h3 class='text-center'
        = t(:ordered_products)

div class='row'
  div class='col-md-12'
    table class='table table-striped'
      thead
        tr
          th class='text-center'
            = t(:image)
          th class='text-center'
            = t(:name)
          th class='text-center'
            = t(:description)
          th class='text-center'
            = t(:price)
          th class='text-center'
            = t(:count)

      tbody
        - @ordered_products.each do |op|
          tr
            td
              = image_tag op.product.photo.url, class: 'img-rounded MyImageSize'
            td
              = "#{op.product.name}"
            td class='long_words_breaker'
              = op.product.description
            td class='text-center'
              = op.product.price
            td class='text-center'
              = op.count
