div class='row'
  div class='col-md-12'
    div class='page-header'
      h3 class='text-center'
        = t(:users)

div class='row'
  div class='col-md-12 text-center'
    = will_be_numbered(access_index_path, @users[:pages])

div class='row'
  div class='col-md-12'
    table class='table table-striped'
      thead
        tr
          th class='text-center'
            = t(:id)
          th class='text-center'
            = t(:user_name)
          th class='text-center'
            = t(:phone)
          th class='text-center'
            = t(:email)
          th class='text-center'
            = t(:status)
          th class='text-center'
            = t(:action)

      tbody class='long_words_breaker'
        - @users[:objects].each do |u|
          tr
            td
              = u.id
            td
              = u.name
            td
              = u.phone
            td
              = u.email
            td
              = t("#{u.status}")
            td
              = link_to t(:delete), access_path(u),
                                    method: :delete,
                                    data: { confirm: t(:really_question) }
              br
              = link_to t(:edit), edit_access_path(u)
